package shared

templ Footer() {
	<footer class="bg-slate-900 text-white flex justify-center p-16">
		<div>
			<div>Users</div>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Porque?</a></li>
				<li><a href="#">Voluntarios</a></li>
			</ul>
		</div>
		<div>
			<div>Admin</div>
			<ul>
				<li><a href="/admin/codes">Codes</a></li>
			</ul>
		</div>
	</footer>
}
