package admin

import (
	"reyes-magos-gr/lib"
	"reyes-magos-gr/views/volunteer"
)

templ AdminLayout() {
	@pages.VolunteerLayout() {
		{ children... }
		<script type="module" src={ lib.GetAssetUrl("js/admin.js") } defer></script>
	}
}
