package admin

import (
	"reyes-magos-gr/lib"
	layout "reyes-magos-gr/views"
)

templ AdminLayout() {
	@layout.Base() {
		{ children... }
		<script type="module" src={ lib.GetAssetUrl("js/admin.js") } defer></script>
	}
}
