package shared

import "reyes-magos-gr/lib"

templ Footer() {
	<footer class="bg-slate-900 text-white flex justify-around p-16">
		<div>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Porque?</a></li>
				<li><a href="#">Voluntarios</a></li>
			</ul>
		</div>
		if lib.GetIsAdmin(ctx) {
			<div>
				<div>Admin</div>
				<ul>
					<li><a href="/admin/codes">Codes</a></li>
				</ul>
			</div>
		}
	</footer>
}
