@tailwind base;
@tailwind components;
@tailwind utilities;

/* Image by <a href="https://www.freepik.com/free-photo/abstract-watercolor-background-copy-space_11750980.htm#query=pastel%20paper%20background&position=8&from_view=keyword&track=ais&uuid=a0a860a8-c84c-4197-8433-8bb9e246ee01">Freepik</a> */
/* Image by <a href="https://www.freepik.com/free-photo/unique-watercolor-art-paper-texture_16137609.htm#query=pastel%20paper%20background&position=13&from_view=keyword&track=ais&uuid=a0a860a8-c84c-4197-8433-8bb9e246ee01">Freepik</a> */
/* Image by <a href="https://www.freepik.com/free-photo/top-view-monochrome-paper_17193859.htm#page=4&query=pastel%20paper%20background&position=22&from_view=search&track=ais&uuid=d8295a69-ce46-4c62-8b1f-84cc9dbf8e9e">Freepik</a> */

@layer base {
    html {
        font-family: "Metrophobic", system-ui, sans-serif;
    }
}
