package pages

import (
	layout "reyes-magos-gr/views"
	"reyes-magos-gr/views/shared"
)

templ LayoutErrors() {
	<!DOCTYPE html>
	<html lang="en" class="bg-slate-50 h-full">
		@layout.Head()
		<body class="text-brand-blue h-full">
			@shared.Nav()
			{ children... }
			@shared.Footer()
		</body>
		<script type="module" src="/public/js/app.js" defer></script>
	</html>
}
