package pages

import (
	"reyes-magos-gr/lib"
	"reyes-magos-gr/store/models"
	"reyes-magos-gr/views/admin"
	"reyes-magos-gr/views/components"
)

templ UpdateVolunteerForm(volunteer models.Volunteer) {
	@admin.AdminLayout() {
		<main class="bg-background min-h-screen">
			<div class="container mx-auto md:w-4xl px-6 py-10 lg:px-8">
				<div class="flex flex-wrap items-end justify-between gap-4">
					<h1 class={ components.DSHeading1 }>Actualizar Voluntario</h1>
				</div>
				<form
					id="volunteer-update-form"
					class="pt-8"
					method="POST"
					action={ lib.GetSafeIdUrl("/admin/volunteers/%d/save", volunteer.VolunteerID) }
				>
					@VolunteerForm(volunteer)
				</form>
			</div>
		</main>
	}
}
