package pages

import (
	"reyes-magos-gr/store/models"
	"reyes-magos-gr/views/components"
)

templ VolunteerForm(volunteer models.Volunteer) {
	<div class="flex flex-col gap-6">
		@components.DSFormSection("Datos del voluntario", "Cómo contactamos al voluntario para coordinar entregas.") {
			<div class="sm:col-span-6">
				@components.DSFieldLabel("name", "Nombre completo", false)
				<input type="text" id="name" name="name" class={ components.DSInput } value={ volunteer.Name }/>
			</div>
			<div class="sm:col-span-4">
				@components.DSFieldLabel("email", "Correo electrónico", false)
				<input type="email" id="email" name="email" class={ components.DSInput } value={ volunteer.Email }/>
			</div>
			<div class="sm:col-span-2">
				@components.DSFieldLabel("phone", "Teléfono", false)
				<input type="tel" id="phone" name="phone" class={ components.DSInput } value={ volunteer.Phone }/>
			</div>
		}
		@components.DSFormSection("Dirección de entrega", "Aquí se envían los juguetes que el voluntario reparte.") {
			<div class="sm:col-span-6">
				@components.DSFieldLabel("address", "Calle y número", false)
				<input type="text" id="address" name="address" class={ components.DSInput } value={ volunteer.Address }/>
			</div>
			<div class="sm:col-span-6">
				@components.DSFieldLabel("address2", "Interior, depto. o referencia", true)
				<input type="text" id="address2" name="address2" class={ components.DSInput } value={ volunteer.Address2 }/>
			</div>
			<div class="sm:col-span-3">
				@components.DSFieldLabel("city", "Ciudad", false)
				<input type="text" id="city" name="city" class={ components.DSInput } value={ volunteer.City }/>
			</div>
			<div class="sm:col-span-3">
				@components.DSFieldLabel("province", "Municipio / Delegación", false)
				<input type="text" id="province" name="province" class={ components.DSInput } value={ volunteer.Province }/>
			</div>
			<div class="sm:col-span-2">
				@components.DSFieldLabel("state", "Estado", false)
				<input type="text" id="state" name="state" class={ components.DSInput } value={ volunteer.State }/>
			</div>
			<div class="sm:col-span-2">
				@components.DSFieldLabel("zip_code", "Código postal", false)
				<input type="text" id="zip_code" name="zip_code" class={ components.DSInput } value={ volunteer.ZipCode }/>
			</div>
			<div class="sm:col-span-2">
				@components.DSFieldLabel("country", "País", false)
				<input type="text" id="country" name="country" class={ components.DSInput } value={ volunteer.Country }/>
			</div>
		}
		<div class="flex items-center justify-end gap-5">
			<a
				href={ string(templ.URL("/admin/volunteers")) }
				class="px-2 py-3 font-heading text-sm font-bold text-secondary"
			>
				Cancelar
			</a>
			<button
				type="submit"
				class={ components.DSButtonPrimary }
			>Guardar</button>
		</div>
	</div>
}
