package pages

import (
	"reyes-magos-gr/lib"
	layout "reyes-magos-gr/views"
	"reyes-magos-gr/views/components"
)

templ VolunteerLayout() {
	@layout.Base() {
		{ children... }
		<script type="module" src={ lib.GetAssetUrl("js/volunteer.js") } defer></script>
		@components.Toasts()
	}
}
