package layout

templ Base() {
	<html class="bg-slate-100">
		<head>
			<title>Reyes Magos - V1</title>
			<link rel="stylesheet" href="/public/css/main.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
