package svg

templ Ticket(class string) {
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class={ class }>
		<path d="M2,6 L22,6 L22,10 A2,2 0 0,0 22,14 L22,18 L2,18 L2,14 A2,2 0 0,0 2,10 Z"></path>
		<circle cx="9" cy="9" r="0.75"></circle>
		<circle cx="9" cy="12" r="0.75"></circle>
		<circle cx="9" cy="15" r="0.75"></circle>
	</svg>
}
